<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleProducto.css">
  <link rel="shortcut icon" href="/css/prod.png">
  <title>Title</title>
</head>
<body>
<div class="card bg-light mb-3 container" style="max-width: 18rem;">
  <img  class="img" src="/css/prod.png" alt="error">
  <div class="card-header centro">Registro de Producto</div>
  <div class="card-body">
        <form th:action="@{/admin/empresa/{id}/productos/editarProducto/{idE} (idE=${prod.getCodigo()},id=${prod.getEmpresa().getId()})}" th:object="${prod}" method="POST">
          <div class="form-group">

            <label>Nombre : </label>
            <input type="text" name="nombre" th:field="*{username}" class="form-control" placeholder="Digite su nombre : " required>
          </div>
          <br>
          <div class="form-group">
            <label>Importe : </label>
            <input type="number" name="importe" th:field="*{importe}" class="form-control" placeholder="Digite su importe : " required>
          </div>
          <br>
          <div class="form-group">
            <label>Id : </label>
            <input type="number" name="id" th:field="*{idSistemaGestion}" class="form-control" placeholder="Digite su id : " required>
          </div>
          <br>
          <div class="form-group">
            <label>Descripcion : </label>
            <input type="text" name="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Digite su descripcion : " required>
          </div>

          <div class="box-footer">

            <button class="btn btn-success centrar">Guardar</button>
          </div>
        </form>
      </div>
    </div>
</body>
</html>