<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo producto</title>
</head>
<body>
    <div>New Producto</div>
    <form action="#" th:action="@{/admin/empresa/{id}/producto(id=${ prod.getCodigo()})}" th:object="${prod}" method="post">
        <input type="text" th:field="*{username}" required/>
        <input type="number" th:field="*{importe}" required/>
        <input type="number" th:field="*{idSistemaGestion}" required/>
        <input type="checkbox" th:field="*{activo}" />
        <input type="text" th:field="*{descripcion}" required/>


        <button type="submit" name="newProduct">Create</button>
    </form>

</body>
</html>