<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestores</title>
</head>
<body>
    <div>Hola gestor </div>
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
    <div>Gestor List</div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Apellido</th> <th>Nombre</th><th>email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gestor : ${gestoresDeEsaEmpresa}">
            <td th:text="${gestor.getApellido()}"></td>
            <td th:text="${gestor.getNombre()}"></td>
            <td th:text="${gestor.getUsername()}"></td>

       <td><a class="badge badge-primary" th:href="@{/admin/empresa/gestores/info/{id}(id=${gestor.id})}">Info</a></td>
            <td><a class="badge badge-primary" th:href="@{/admin/empresa/gestores/delete/{id}(id=${gestor.id})}">Eliminar</a></td>
        </tr>
        </tbody>
    </table>
    <a class="badge badge-primary" th:href="@{/admin/empresa/{id}/gestores/new(id=${idEmpresa})}">New Gestor </a>

    <div style="display: block;horiz-align: right;">
        <form action="#" th:action="@{/logout}" th:method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>

</body>
</html>