<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleCard.css">
    <title>Info del gestor</title>
</head>
<body>
<div class="card text-dark bg-light mb-3 container border-dark  cambiarCardBody " style="max-width: 18rem;">
    <div class="card-header centro cambiarHeader "> <b> Informacion del Gestor </b> </div>

    <div class="card-body text-dark ">
    <br>
    <div> <b>Empresa perteneciente:</b> <td th:text="${ges.getEmpresa().getUsername()}"> </td> </div>
        <br>
    <div> <b>Nombre:</b> <td th:text="${ges.getNombre()}"> </td> </div>
        <br>
    <div> <b>Apellido:</b> <td th:text="${ges.getApellido()}"> </td> </div>
        <br>
        <a class="btn btn-primary container" th:href="@{/admin/empresa/{id}/gestores/index (id=${ges.getEmpresa().getId()})}">volver</a>

        </div>
        </div>
</body>
</html>