<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Empresa</title>
</head>
<body>
    <div>New Empresa</div>
    <form action="#" th:action="@{/admin/empresa}" th:object="${emp}" method="post">
        <input type="text" th:field="*{username}" placeholder="Nombre empresa" required/>
        <input type="number" th:field="*{cuit}" placeholder="Cuit" required/>
        <input type="number" th:field="*{razonSocial}" placeholder="RazonSocial" required/>

        <button type="submit" name="newEmpresa">Create</button>
    </form>

</body>
</html>